/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.card-style-3 {
    border: 15px solid #ffd602;
    border-radius: 15px;
    max-width: 350px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#pokemon-card-1,
#pokemon-card-2,
#pokemon-card-3,
#pokemon-card-4 {
    padding: 15px;
}

div.pokemon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    margin: 0px;
    font-size: x-large;
}

.card-style-3 .health {
    font-size: large;
}

.details {
    background-color: #daa521;
    text-align: center;
    font-style: italic;
    font-size: x-small;
    font-weight: bold;
    margin-top: 3px;
}

.card-style-3 img {
    width: 100%;
    border: 4px solid #daa521;
}

.attack {
    display: flex;
    border-bottom: 2px solid black;
    margin: 3px;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    flex: 1;
}

.bold {
    font-weight: bold;
    font-size: large;
}

.power {
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
}

.description {
    font-size: small;
    padding: 10px;
}

.data {
    font-size: x-small;
    font-weight: bold;
    text-align: left;
    border: 2px solid orange;
    margin: 3px;
    padding: 10px;
}

#pokemon-card-1,
#pokemon-card-2 {
    background: linear-gradient(
        150deg, 
        #62c462, 
        #248c21, 
        #62c462
    );
}

#pokemon-card-3 {
    background: linear-gradient(
        150deg,
        #ff4500,
        #ff9103,
        #ff4500
    );
}

#pokemon-card-4 {
    background: linear-gradient(
        150deg,
        #24f1f6,
        #7dd1ed,
        #24f1f6
        
    );
}