#style-1-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: aliceblue;
    background-color: #d11019;
}

#style-1-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: aliceblue;
    background-color: #f5007a;
}

#style-1-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 45px;
    color: aliceblue;
    background-color: #cc2898;
}

#style-2-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: aliceblue;
    background-color: #011627;
}

#style-2-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: aliceblue;
    background-color: #2ec4b6;
}

#style-2-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    color: #011627;
    background-color: #f6f7f8;
}

#style-3-block-1 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #a7c4b5;
}

#style-3-block-2 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #a9d8b8;
}

#style-3-block-3 {
    text-align: center;
    font-family: cursive;
    padding: 24px;
    background-color: #beffc7;
}