/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

.card-style-2 {
    width: 350px;
    height: 535px;
    margin: 20px;
    border-radius: 35px;
    background-color: white;
    text-align: center;
    flex-direction: column;
}

.animagram-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    font-size: 30px;
}

.profile-pic-container img {
    width: 210px;
    border-radius: 50%;
}

.card-style-2 h2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-style-2 p {
    margin: 26px;
    text-align: center;
    font-size: 16px;
}

.animagram-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

