@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(
        #9ce9fcd2,
        #fc9cc4d2,
        #bf5ffbd2
    );
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    color: #000000;
}

h3 {
    text-align: center;
}
/* Gallery 1 */

.gallery-1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.g1-card-content {
    border: 3px solid #fc9cc4d2;
    background-color: whitesmoke;
    width: 230px;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
}

.g1-card-content img {
    max-width: 100%;
    max-height: 100%;
}

#g1-card1:hover {
    background-color: #fc9cc4d2;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #ffffff;
    transform: translateY(-4px);
}

#g1-card2:hover {
    background-color: #fc9cc4d2;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #ffffff;
    transform: translateY(-4px);
}

#g1-card3:hover {
    background-color: #fc9cc4d2;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #ffffff;
    transform: translateY(-4px);
}

#g1-card4:hover {
    background-color: #fc9cc4d2;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #ffffff;
    transform: translateY(-4px);
}
.gallery-1-container .g1-card-content {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

/* Gallery 2 */

.gallery-2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.g2-card-content {
    border: 3px solid #bf5ffbd2;
    background-color: whitesmoke;
    width: 230px;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
}

.g2-card-content img {
    max-width: 100%;
    max-height: 100%;
}

#g2-card1 .g2-card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s; /* new */
}

#g2-card1:hover .g2-card-content {
    opacity: 0;
    visibility: hidden; /* new */
}

#g2-card2 .g2-card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s; /* new */
}

#g2-card2:hover .g2-card-content {
    opacity: 0;
    visibility: hidden; /* new */
}

#g2-card3 .g2-card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s; /* new */
}

#g2-card3:hover .g2-card-content {
    opacity: 0;
    visibility: hidden; /* new */
}

#g2-card4 .g2-card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s; /* new */
}

#g2-card4:hover .g2-card-content {
    opacity: 0;
    visibility: hidden; /* new */
}

/* Gallery 3 */

.gallery-3-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.g3-card-content {
    border: 3px solid #9ce9fcd2;
    background-color: whitesmoke;
    width: 230px;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
}

.g3-card-content img {
    max-width: 100%;
    max-height: 100%;
}

#g3-card1 .g3-card-content {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#g3-card1:hover .g3-card-content {
    opacity: 1;
    visibility: visible;
}

#g3-card2 .g3-card-content {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#g3-card2:hover .g3-card-content {
    opacity: 1;
    visibility: visible;
}

#g3-card3 .g3-card-content {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#g3-card3:hover .g3-card-content {
    opacity: 1;
    visibility: visible;
}

#g3-card4 .g3-card-content {
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#g3-card4:hover .g3-card-content {
    opacity: 1;
    visibility: visible;
}