/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 700px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 24px;
}

#left-side {
    display: inline-block;
    width: 65%;
}

#right-side {
    display: inline-block;
    width: 34%;
}

#id-and-expiration div {
    display: inline-block;
    font-weight: bold;
}

div.id-and-expiration {
    color: red;
}

div.small-pic-container img {
    display: inline-block;
    width: 80px;
}

div.small-pic-container {
    display: inline-block;
    width: 25%;
}

#small-pic {
    display: inline-block;
    width: 25px;
}

#data-fields {
    display: inline-block;
}

#data-left {
    display: inline-block;
}

div#data-right {
    display: inline-block;
}

#signature {
    text-align: center;
}

#right-side img {
    width: 100%;
}

#donor {
    display: inline-block;
}

#real-id {
    display: inline-block;
}

h1 {
    color: blue;
}

h4 {
    border: solid blue;
    text-align: center;
    color: white;
    background-color: blue;
}

#address {
    margin-top: 25px;
}