* {
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 254, 254);
    color: #111111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#layout {
    display: grid;
    grid-template-columns: 1fr 550px 3fr;
    grid-template-areas: 
        "header header header"
        "column-1 column-2 column-3";
}

/* Header */
#header {
    grid-area: header;
}

h1 {
    text-align: center;
}

div h1 a {
    text-decoration: none;
}

span#me {
    color: red;
}

span#bay {
    color: rgb(21, 0, 255);
}

/* Buttons */
#buttons {
    display: block;
    background-color: #f1f0f0;
    border: 2px solid lightgray;
    margin: 8px;
    padding: 45px;
    border-radius: 24px;
}

.buy-it-now {
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(45, 131, 216);
    padding: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.buy-it-now:hover {
    background-color: rgba(126, 126, 126, 0.157);
    border-radius: 10px;
}

.add-to-cart {
    border: 2px solid rgb(45, 131, 216);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(45, 131, 216);
}

.add-to-cart:hover {
    background-color: rgba(126, 126, 126, 0.157);
    border-radius: 10px;
}

.add-to-wishlist {
    border: 2px solid rgb(45, 131, 216);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    color: rgb(45, 131, 216);
}

.add-to-wishlist:hover {
    background-color: rgba(126, 126, 126, 0.157);
    border-radius: 10px;
}

.add-to-wishlist a {
    color: rgb(45, 131, 216);
}

.add-to-cart a {
    color: rgb(45, 131, 216);
}

.buy-it-now a {
    color: white;
}

/* Product Information */
div#column-2 h4 a {
    color: #272727;
    text-decoration: none;
    font-size: xx-large;
}

div#column-2 a {
    text-decoration: none;
    font-size: large;
}

#column-1 {
    grid-area: column-1;
    background-color: white;
    border: 3px solid #d7d7d7;
    border-radius: 25px 15px;
    padding: 0px 25px;
}


#column-2 {
    background-color: white;
    grid-area: column-2;
    color: #111111;
    padding: 45px;
}

div.condition-info {
    margin-block: 50px;
}

div.quantity {
    margin-block: 50px;
}

div.product-price {
    margin-block: 25px;
    font-size: x-large;
}

/* Sidebar Content */
div.mebay-guarantee {
    border: 3px solid #d7d7d7;
    border-radius: 15px;
    padding: 20px 25px;
    padding-top: 0px;
    text-align: left;
}

div.seller-info {
    border: 3px solid #d7d7d7;
    border-radius: 15px;
    padding: 20px 25px;
    padding-top: 0px;
    text-align: left;
}

#column-3 {
    background-color: white;
    grid-area: column-3;
    padding: 24px;
    color: #111111;
}

#column-3 h3 {
    text-align: left;
    font-size: x-large;
}

#column-3 h4 {
    text-align: left;
    font-size: large;
}

#column-3 p {
    text-align: left;
}



