* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* Hero */


/* NavBar */

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background: linear-gradient(to bottom, #000000, #323232);
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: white;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 10px;
}

#navbar-top .cta-button {
    background: linear-gradient(to bottom, #5b5b5b, #bcbcbc);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 10PX;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-bottom {
    background: linear-gradient(to bottom, #5b5b5b, #bcbcbc);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: center;
    
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
}