* {
    box-sizing: border-box;
}

body {
    background-color: #231f20;
    margin: 0px;
    font-family: sans-serif;
}

/* NavBar */

.content-column {
    width: 800px;
    margin: 0px auto;
}

#navbar-top {
    background-color: #231f20;
}

#navbar-top .content-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

#navbar-top a {
    text-decoration: none;
    color: #ffffff;
    padding: 24px 0px;
}

#navbar-top .content-column div a {
    padding: 10px;
}

#navbar-top .cta-button {
    background-color: #ffffff;
    color: #231f20;
    border-radius: 10px;
    padding: 10px 10PX;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

#navbar-top .cta-button:hover {
    background-color: #c9c9c9;
    color: #ffffff;
}

.cta-button {
    transition: 
    background-color 0.5s,
    transform 0.5s;
}

#navbar-bottom {
    background:linear-gradient(#ffffff, #231f20);
}

#navbar-bottom .content-column {
    display: flex;
    justify-content: center;
    
}

#navbar-bottom a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 0px;
}

/* Main Content */

#main {
    border: 10px dotted #c9c9c9;
    background: linear-gradient(
        to top left, 
        #ffffff, 
        #c9c9c9, 
        #ffffff)
    ;
    border-radius: 10px;
    margin: 50px 100px;
}

.cta-content-container {
    display: flex;
    justify-content: center;
}

#main h3 {
    font-size: 24px;
    text-align: center;
    color: #231f20;
}

#cta-content p {
    border: 3px solid #231f20;
    padding: 10px;
    margin: 24px;
    font-size: 20px;
    color: #231f20;
    display: flex;
    align-items: center;
}

.image-container {
    border: 3px dotted #231f20;
    max-width: 100%;
    max-height: 100%;
    margin: 24px;
    padding: 10px;
}

img {
    border: 3px solid #231f20;
    padding: 10px;
    width: 250px;
}

#button {
    display: block;
    text-align: center;
    border-radius: 10px;
    background-color: #231f20;
    padding: 10px;
    margin-top: 20PX;
}

#button a {
    text-decoration: none;
    color: #ffffff;
}

.button-container:hover {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #c9c9c9;
    transform: translateY(-4px);
}

.button-container {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

/* menu */

.menu-container {
    background: linear-gradient(
        to top left, 
        #ffffff, 
        #c9c9c9, 
        #ffffff)
    ;
    border-radius: 10px;
    margin: 50px;
    padding: 24px;
}

#item-1,
#item-2,
#item-3,
#item-4,
#item-5,
#item-6,
#item-7,
#item-8,
#item-9 h3 {
    text-align: center;
}

#item-1
#item-2,
#item-3,
#item-4,
#item-5,
#item-6,
#item-7,
#item-8,
#item-9 p {
    text-align: center;
}

#card {
    display: flexbox;
    flex-direction: column;
}

.row-1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
        #231f20,
        #c9c9c9)
    ;
    border-radius: 5px;
    padding: 24px;
    width: 350px;
}

.row-2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
        #231f20,
        #c9c9c9)
    ;
    border-radius: 5px;
    padding: 24px;
    width: 350px;
}

.row-3-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(
        #231f20,
        #c9c9c9)
    ;
    border-radius: 5px;
    padding: 24px;
    width: 350px;
}




/* Footer */

#footer {
    background-color: #c9c9c9;
    color: #231f20;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: #231f20;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 480px) {
    
}