* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #ee638c, #d5406b);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #ee638c, #d5406b);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px; 
    padding-bottom: 12px; 
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #ee638c;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    color: #d5406b;
    background: #f8f8f899;
}

#hero {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Style */

.card-container {
    border: 3px solid whitesmoke;
    border-radius: 10px;
    background-color: #340c1bc8;
    max-width: 650px;
    max-height: 350px;
    margin: 50px;
    padding: 15px;
}

div#card p {
    font-size: 20px;
}

/* Buttons Hover Style */

div#card a {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 15px;
    margin: 10px;
}

#button-1 a:hover {
    color: #ffffff;
    background: #ee638c;
}

#button-2 a:hover {
    color: #ffffff;
    background: #ee638c;
}

#hero .hero-content {
    text-align: center;
    color: white;
}

#hero a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin: 1px 1px 1px 1px;
}



/* Tablet Breaking Point */

@media screen and (max-width: 800px) and (min-width: 480px) {
    
}

/* Phone Breaking Point  */

@media screen and (max-width: 480px) {
    
}